.workersTable {
  width: 100%;
  border-collapse: collapse;
  color: var(--color-white);
}

.workersTr {
  color: var(--brand-orange);
  text-align: left;
}

.workerTh,
.workerTd {
  padding: 10px 15px;
}

.workersTrData {
  border-bottom: 1px solid var(--brand-dark-soft);
}

.workerTd {
  text-align: left;
}

.workerTh {
  border-bottom: 1px solid var(--brand-orange);
  cursor: pointer;
}

.workerBtn {
  font-size: 1.5rem;
  color: var(--brand-orange);
  cursor: pointer;
}
