.modalOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgba(30, 30, 30, 0.5);
  backdrop-filter: blur(6px);
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--brand-dark);
  padding: 20px;
  border-radius: 30px;
  border: 1px solid var(--brand-orange);
  color: var(--color-white);
  width: 335px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 15px 0;
  border-bottom: 2px solid var(--brand-dark-soft);
}

.title {
  font-size: 20px;
}

.closeButton {
  font-size: 24px;
  color: var(--brand-orange);
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form input {
  background-color: var(--brand-dark);
  padding: 15px;
  border: 2px solid var(--brand-orange);
  border-radius: 30px;
  color: var(--color-white);
  width: 100%;
}

.form input:focus {
  outline: none;
}

.form select {
  background-color: var(--brand-dark);
  padding: 15px;
  border: 2px solid var(--brand-orange);
  border-radius: 30px;
  color: var(--color-white);
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form select:focus {
  outline: none;
}

.formButton {
  background-color: var(--brand-orange);
  color: var(--brand-dark);
  padding: 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.formButton:hover {
  background-color: var(--hover-bg);
}
