:root {
  --font-main: 'Martian Mono', monospace;
  --brand-orange: #ff7b00;
  --brand-orange-hover: #e96f00;
  --brand-dark: #1e1e1e;
  --brand-dark-soft: #8b8b8b;
  --nav-hover-bg: #ffd8b8;
  --hover-bg: #ffd8b8;
  --color-white: #ffffff;

  font-family: var(--font-main);
  line-height: 1.5;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1280px;
  font-family: var(--font-main);
  background-color: var(--brand-dark);
}

img,
picture,
svg,
canvas,
video {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  border: 0;
  padding: 0;
  background: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
